*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #023020;
}
.hero{
	height: 17vh;
	width: 100%;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-left: 10%;
	padding-right: 10%;
}
nav img{
	width: 75px;
	height: 75px;
	margin-left: -130px;
	margin-right: -150px;
}
.logo{
	color: white;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}
nav ul li a:hover{
	color: #ea1538;
	transition: .3s;
}
.button1{
	border: none;
	color: white;
	background: #023020;
	padding: 12px 30px;
	border-radius: 30px;
}
.homepagepic img{
	width: 100%;
}
.EventsTitle{
	color: white;
	text-align: center;
}
.LoginContainer{
	text-align: center;
	background: white;
	width: 30%;
	height: 60vh;
	border-radius: 100px;
	margin: 5% auto;
	color: white;
	position: relative;
}
.LoginContainer form h3{
	color: #023020;
	font-weight: bolder;
	padding-top: 30px;
}
.LoginContainer form label{
	color: #023020;
	font-weight: bolder;
	font-size: 20px;
	font-family: arial;
}
form input{
	width: 250px;
	height: 30px;
	color: black;
	background-color: white;
	margin-left: 20px;
}
.FormLabel{
	margin-top: 20px;
}
.LoginContainer form button{
	width: 150px;
	height: 50px;
	margin-left: 50px;
	color: #023020;
	font-size: 20px;
	font-family: arial;
	font-weight: bold;
	background-color: #B7E4C7;
	border-style: none;
}
.Form a{
	text-decoration: none;
	color: #081C15;
	opacity: 0.65;
	margin-left: 30px;
	font-size: 15px;
}
.Form{
	margin-top: 5px;
}
.Formh3{
	margin-top: 50px;
	font-size: 20px;
	margin-left: 150px;
	width: 150px;
	height: 40px;
	padding-top: 2vh;
	background-color: #B7E4C7;
}
.Formh3 a{
	text-decoration: none;
	color: #081C15;
	margin-top: 100px;
	background-color: #B7E4C7;
}
.SignupContainer{
	text-align: left;
	background: white;
	width: 90%;
	height: 95vh;
	border-radius: 100px;
	margin: 1% auto;
	color: black;
	position: relative;
	margin-top: 2vh;
}
.SignupContainer h3{
	text-align: center;
	padding-top: 2vh;
    margin-bottom: 6vh
}
.SignupLabel{
	float: left;
	margin-left: 100px;
	margin-bottom: 5px;
	width: 300px;
	font-size: 30px;
	font-family: arial;
	font-weight: bold;
}
.SignupInput{
	font-size: 30px;
	width: 600px;
	float: right;
    margin-right: 100px;
    margin-bottom: 5px;
}
.SignupLabelSelect{
	float: left;
	margin-left: 100px;
	margin-bottom: 5px;
	width: 425px;
	font-size: 30px;
	font-family: arial;
	font-weight: bold;
}
.SignupSelect{
	font-size: 30px;
	width: 605px;
	height: 5vh;
    margin-right: 100px;
    margin-bottom: 5px;
}
.SignupSelect:hover{
	font-size: 30px;
	width: 605px;
	height: 20vh;
	float: right;
    margin-bottom: 5px;
}

.SignupContainer button{
   float: left;
   margin: 50px 0 0 45%;
   width: 200px;
   height: 50px;
   color: #023020;
   font-size: 20px;
   font-family: arial;
   font-weight: bold;
   background-color: #B7E4C7;
   border-style: none;
}



















/*Text*/
h3{
	font-size: 20px;
	font-family: arial;
}

